body{
  /* cursor:none; */
}

#cursor{
  content:'';
  display:block;
  position:fixed;
  width: 40px;
  height:40px;
  background:#ff0000;
  border-radius:50%;
   /* top:var(--y, 0);
  left:var(--x, 0);  */
  transform:translate(-50%, -50%);
  z-index:999;
  mix-blend-mode:difference;
  transition: transform .2s;
  pointer-events: none;
}

#cursor:after{
  content:'';
  display:block;
  position:fixed;
  width:20px;
  height:20px;
  border:2px solid #ff0000;
  border-radius:50%;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:998;
  animation: mouse-move 1.5s linear infinite ;
}

#cursor.extend{
  width:70px;
  height:70px;
  background:#640c8d
}
#cursor.extend:after{
  content:none;
}

@keyframes mouse-move {
  0%{opacity:1;}
  100%{opacity:0;  width:40px; height:40px; transform:translate(-50%, -50%) scale(2) ; }
}

