body{
  /* cursor:none; */
}

#cursor{
  content:'';
  display:block;
  position:fixed;
  width: 40px;
  height:40px;
  background:#ff2323;
  border-radius:50%;
   /* top:var(--y, 0);
  left:var(--x, 0);  */
  transform:translate(-50%, -50%);
  z-index:999;
  mix-blend-mode:difference;
  transition: transform .2s;
}

#cursor:after{
  content:'';
  display:block;
  position:fixed;
  width:42px;
  height:42px;
  border:1px solid #ff2323;
  border-radius:50%;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index:998;
  animation: mouse-move 1s linear infinite ;; 
}



@keyframes mouse-move {
  0%{opacity:1;}
  100%{opacity:0;  transform:translate(-50%, -50%) scale(2) ; }
}

